<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>:::MOSSY ROCKS -^- Toronto:::</title>
<LINK REL=StyleSheet HREF="{{ STATIC_URL }}css/cssTillIDie.css" TYPE="text/css">

</head>

<body>

<div class="container_4">
    
    <div class="grid_1_head">
        
        <div class="special">

        <img src="{{ STATIC_URL }}images/MR-head.gif" alt=":::MOSSY ROCKS:::" width="570" height="auto" />
            
        </div>
        
    </div>



        {% comment %}
    <br>
    <ul class ="nav">
        <li class ="nav"><a href="#" >News</a></li>
        <li class ="nav"><a href="#" >Music</a></li>
        <li class ="nav"><a href="#" >Tour</a></li>
        <li class ="nav"><a href="#" >Contact</a></li>
        <li class ="nav"><a href="#" >Bio</a></li>
    </ul>
        {% endcomment %}



<br>
<br>

{% block header %} {% endblock header %}
{% block main %} {% endblock main %}
{% block main2 %}{% endblock main2 %}
{% block sidebar %} {% endblock sidebar %}
{% block footer %} {% endblock footer %}

</div>
    
</body>

</html>
